.label {
  position: absolute;
}

.black {
  background-color: #8ca2ad;
  color: #dee3e6;
}

.white {
  background-color: #dee3e6;
  color: #8ca2ad;
}

.highlight {
  background-color: #5aa05a;
}

.highlight-move {
  background-color: #e9e19e;
}
